/* CSS for home page (index.html) */
main {
    padding: 5%;
    display: grid;
    justify-content: center;
}

img {
    width: 150px;
}

ul {
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

